// Imports
@import 'https://fonts.googleapis.com/css?family=Audiowide|Roboto:300,300i,700,700i';

// Colors
$white:        #ffffff;
$gray:         #b4c4bc;
$mint:         #63d297;
$darkGray:     #2c2f33;
$black:        #212825;

// Fonts
$fontHeader:   'Audiowide', cursive;

* {
  box-sizing: border-box;
}

body {
  background-color: $darkGray;
}

nav {
  background-color: $white;
}

a {
  transition: 0.3s ease all;
}

.header {
  background-color: $white;
  color: $darkGray;
  height: 13vh;
}

.logo {
  margin: 20px;
  display: none;
}

.logo1 {
  margin: 20px;
  display: inline-block;
}

.selected {
  color: $darkGray;
  border-bottom: 3px solid $mint !important;
}

.nav {
  display: inline-block;
  text-align: right;

  a {
    display: inline-block;
    // margin-top: 20px;
    padding: 10px;
    margin: 20px;
    font-weight: 700;
    border-bottom: 3px solid $white;
    transition: 0.3s ease all;

    &:hover,
    &:active,
    &:focus {
      color: $darkGray;
      border-bottom: 3px solid $mint;
    }
  }

  span {
    font-size: 2.5rem;
  }
}

.profile {
  margin-left: 25px;
  display: inline-block;
  border-bottom: 3px solid $white;
}

.username {
  display: inline-block;
  font-weight: bold;
  color: $darkGray;
  margin: 0;
}

.avatar {
  display: inline-block;
  border-radius: 15px;
  border: 2px solid $gray;
  margin-left: 5px;
  margin-bottom: -7px;
}

.login {
  margin-top: 23px;
}

.logo-jumbo {
  width: 75%;
  min-width: 200px;
  max-width: 600px;
  margin: 150px auto 50px;
  display: block;
  -webkit-filter: drop-shadow(5px 5px 5px $darkGray);
  filter: drop-shadow(5px 5px 5px $darkGray);
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../assets/video/moba.png) no-repeat;
    background-size: cover;
}

.video-overlay {
  position: absolute;
  left: 0;
  top: 135px;
  width: 100%;
  height: 80vh;
  background-color: rgba(0,0,0,.6);
  z-index: 2;
}

.jumbo-copy {
  position: absolute;
  width: 100%;
  z-index: 2;
  color: $white;
  text-align: center;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.learn {
  color: white;
  display: inline-block;
  margin-top: 110px;
  margin-bottom: 0;
  text-shadow: none;
  font-weight: 700;

  &:hover {
    color: $mint;
  }
}

.login-message {
  position: absolute;
  z-index: 2;
  color: $white;
  text-align: center;
  width: 100%;
  margin: 100px auto;

  a {
    padding-bottom: 2px;
    border-bottom: 2px solid $mint;

    &:hover {
      color: $white;
    }
  }
}

#games {
  margin-top: 20px;
}

.game-tile {
  cursor: pointer;

  &:hover {
    .tile-title {
      color: $mint;
      border-bottom: 1px solid $mint;
    }

    .tile-img {
      border: 2px solid $mint;
    }
  }
}

.tile-img {
  width: 100%;
  border: 2px solid $gray;
  transition: 0.3s ease all;

}

.tile-title {
  display: inline-block;
  font-size: 2rem;
  color: $white;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease all;

  // &:hover {
  //   color: $mint;
  // }
}

// MEDIA QUERIES
@media screen and (min-width: 40.0rem) {
  .logo {
    margin: 20px;
    display: inline-block;
  }

  .logo1 {
    margin: 20px;
    display: none;;
  }

  .video-overlay {
    height: 87vh;
    top: 93px;
  }
}

@media screen and (max-device-width: 800px) {
  html {
    background: url(../assets/video/moba.png) #000 no-repeat center center fixed;
    background-size: cover;
  }
  #bgvid {
    display: none;
  }
}
